@import url('https://fonts.googleapis.com/css?family=Karla|Poppins:600');

.falling-blocks {
  /* opacity: 0.5; */
}

.ul {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 100%;
}

.li {
  position: relative;
  width: 100%;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background {
  background: #1a284d;
  width: 100%;
  height: 100%;
}

.can-hover {
  transition: background 600ms;
  transform: translateY(-100);

  &:hover {
    background: #253867;
    cursor: pointer;
  }
}

.emoji {
  font-size: 100px;
}

.title {
  font-family: 'Poppins';
  margin-top: 30px;
  font-size: 32px;
}

.text {
  font-family: 'Karla';
  margin-top: 8px;
  font-size: 12px;
  line-height: 2em;
  color: rgb(135, 153, 190);
  text-align: center;
  padding: 0 45px;
}

.arrow {
  margin-top: 25px;
  font-size: 22px;
}
