$background: #1f2021;

.slide-in {
  position: relative;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 545px;
  background-color: $background;
  transform: translateX(100%);
  transition: all 800ms cubic-bezier(0.64, 0.04, 0.35, 1);
  padding: 80px 60px 0;
  font-family: 'Lato';
  letter-spacing: 0.08em;
  overflow: hidden;
  color: #f9f9f9;
  -webkit-box-shadow: -2px 0px 13px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 0px 13px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 0px 13px -2px rgba(0, 0, 0, 0.75);

  li {
    margin-bottom: 8px;
  }
}

.open {
  transform: translateX(0);
}

.header {
  font-size: 18px;
  color: #575757;
  margin-bottom: 15px;
}

.selected-cases,
.menu {
  margin-bottom: 50px;
}

.moonshot:hover:after,
.disruptive:hover:after,
.buzzword:hover:after,
.woke:hover:after,
.hygge:hover:after,
.menu-item:hover:after,
.social-item:hover:after {
  transform: translateX(-8%);
}

.moonshot:hover:after,
.moonshot:after {
  background: #38a87d;
}

.disruptive:hover:after,
.disruptive:after {
  background-color: #c96d5e;
}

.buzzword:hover:after,
.buzzword:after {
  background-color: #c2a947;
}

.woke:hover:after,
.woke:after {
  background-color: #732d86;
}

.hygge:hover:after,
.hygge:after {
  background-color: #307991;
}

.case-item,
.menu-item,
.social-item {
  font-size: 24px;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -105px;
    background-color: $background;
    height: 30px;
    width: 100px;
  }

  &:after {
    transition: all 400ms cubic-bezier(0.51, 0.15, 0.89, 0.34),
      background-color 1ms;
    content: '';
    z-index: -1;
    position: absolute;
    top: 16px;
    left: 0;
    bottom: 0;
    transform: translateX(-106%);
    width: calc(100% + 35px);
    height: 18px;
  }
}

.menu-item,
.social-item {
  text-transform: capitalize;
  font-size: 18px;

  &:after {
    top: 11px;
  }
}

.menu-item:hover:after,
.menu-item:after {
  background-color: #b7b7b7;
}

.facebook:hover:after,
.facebook:after {
  background-color: #4469b0;
}

.pinterest:hover:after,
.pinterest:after {
  background-color: #bb0f23;
}

.twitch:hover:after,
.twitch:after {
  background-color: #4b387a;
}

.medium:hover:after,
.medium:after {
  background-color: black;
}

.footer {
  position: absolute;
  bottom: 50px;
  left: 60px;
  width: 425px;
  display: flex;
  justify-content: space-between;
  opacity: 0.3;
  font-size: 12px;
}
