@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

h2 {
  color: $white;
}

p {
  font-size: 14px;
  font-family: 'Montserrat';
  letter-spacing: 0.05em;
}
